* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.back,
.forward {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
}
.back {left:0;}
.forward {left:50%;}

#number {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 999;
    opacity: 0.2;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    color: white;
}

.comic {
    width: 100%;
}